<html>
    <head>
        <style>
            .item{
                color: red;
            }
        </style>
    </head>
    <body>
        <div id="app">
            {{msg}}
            <div>
                <input type="text" v-model='infor'>
                <button @click="handClick">添加</button>
                <ul>
                    <g-item v-for="item in list" :item="item"></g-item>
                </ul>
            </div>
        </div> 
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
        <!-- 引入的cdn版本的vue -->
        <script>
            Vue.component('g-item',{
                props:['item'],
                template:'<li class="item">{{item}}</li>'
            })
            new Vue({
                el:'#app',
                data(){
                    return{
                        msg:'hello geektime',
                        infor:'',
                        list:[]
                    }
                },
                methods:{
                    handClick(){
                        this.list.push(this.infor)
                        this.infor = ''
                    }
                }
            })
        </script>        
    </body>
</html>